* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: baseline;
    color: #4caf50;
    
}

h1 {
    font-size: 30px;
    text-align: center;
}

p {
    font-size: 18px;
    padding: 2px;
    margin: 10px;
    max-width: 1000px;
}

b {
    font-size: 18px;
    padding: 2px;
    margin: 10px;
    max-width: 1000px;
    color: rgb(39, 38, 38);
}

body {
   background-color: rgb(39, 38, 38);
}

header {
    margin-top: 10px;
    padding-left: 10px;
}

footer {
    background-color: #4caf50;
}

main > div > p {
    font-size: 25px;
}

.Ftxt {
    color: rgb(39, 38, 38);
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin: -10px;
}

.center {
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column; 
}

.main-text {
    margin: 2% auto;
    margin-top: 40px;   
}

.header-text {
    text-align: left;
}

.git-logo {
    width: 60px;
    height: 60px;
}

#footer {
    position:fixed;
    bottom: 0;
    width:100%;
    height:100px; 
}

@media all and (max-width: 600px) {
    p, h1, a, header, .header-text, .center, .flex-row, .center {
        width: auto ;
        height: auto;
    }
}

@media  screen and (max-width:220px) {
    b, .git-logo{
        max-width: 50px;
        max-height: 50px;
        font-size: 17px;
    }
}

@media screen and (max-width:200px) {
    b {
        font-size: 16px;
        max-width: 40px;
        max-height: 40px;
    }
}
@media screen and (max-width:170px) {
    b {
        font-size: 14px;
    }
}
@media screen and (max-width:170px) {
    h1 {
        font-size: 25px;
    }
}




/*Alternative styles*/
/*body*/
    /*background: rgb(55,0,62);
        background: -moz-linear-gradient(225deg, rgba(55,0,62,1) 0%, rgba(0,40,48,1) 100%);
        background: -webkit-linear-gradient(225deg, rgba(55,0,62,1) 0%, rgba(0,40,48,1) 100%);
        background: linear-gradient(225deg, rgba(55,0,62,1) 0%, rgba(0,40,48,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#37003e",endColorstr="#002830",GradientType=1);    
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;*/